@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.top-nav li {
  font-weight: 600;
}

.top-right-panel {
  position: absolute;
  right: 0;
}

.top-right-panel li {
  border-radius: 10px;
  padding: 7px;
}

.upgrade {
  background-color: #282a35;
  color: #ffffff;
}

.upgrade:hover {
  background-color: #3f4353;
}

.get-certified {
  background-color: #ffc0c7;
  color: #876568;
}

.get-certified:hover {
  background-color: #d8a2a9;
}

.free-website {
  background-color: #fff4a3;
  color: #5a563a;
}

.free-website:hover {
  background-color: #dfd58d;
}

.login {
  background-color: #04aa6d;
  color: #ffffff;
}

.login:hover {
  background-color: #07c982;
}

ul {
  padding: 5px;
}

li {
  display: inline;
  padding: 2px;
  margin: 2px;
  font-size: 20px;
}

img {
  width: 25px;
}

.bottom-nav {
  background-color: #272934;
  position: sticky;
  top: 0;
}
.bottom-nav li {
  font-size: 15px;
  color: white;
  font-weight: 600;
  margin: 7px;
}

.bottom-nav li:hover {
  background-color: #15161c;
}

.bottom-right-panel {
  position: absolute;
  right: 0px;
}

.document-bg {
  width: 60%;
  position: relative;
  left: 20%;
}

p {
  padding-top: 20px;
}

.left-aside {
  position: fixed;
  background-color: #ffffff;
  width: 18%;
  height: 500px;
  margin-top: 0;
}

.list-aside li {
  display: block;
  font-size: 17px;
  z-index: 1;
}

footer {
  z-index: 2;
  background-color: #272934;
  text-decoration-style: none;
  color: white;
  padding: 20px;
  font-weight: 600;
  text-align: center;
}

footer:hover {
  background-color: #6e7391;
}
a:hover {
  background-color: #3b3e4f;
}
